node_modules
.next
Dockerfile
.dockerignore
.git
.github
.swc
.gitignore
*.md
storybook-static
.idea
build-storybook.log
.storybook
.eslintrc.json
.lintstagedrc.js
.prettierrc.json
commitlint.config.js
jest.config.ts
