@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ellipsis {
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
  }
}
