@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    display: grid;
    grid-template-rows: auto 1fr minmax(0, auto);
  }
  body,
  html {
    min-height: 100dvh;
  }
}

@layer components {
  .ellipsis {
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
  }
}
